.grid-left{
	width: 60%;
	/*background-color: orange;*/
	float: left;
}

.grid-right {
	width: 40%;
	/*background-color: brown;*/
	float: right;
}
.clear {
	clear: both;
}

.grid ul {
	list-style: square;
	margin-left: 20px;
}

.grid-left h1, h2{
	/*color: #aaa;
*/
	color: rgb(83,83,83);
}

.grid-left p,.grid-left ul li{
	/*color: #bbb;*/
	color: rgb(122,122,122);
}

form {
	
}
	 input[type="text"],input[type="email"], select, textarea {
	 	padding: 7px;
		border-radius: 4px;
		width: 70%;
		height: 20px;
		margin-bottom: 10px;
		border: 1px solid #aaa;
		margin-left: 100px;
	 }
	 	.text {
	 		/*color: #bbb;*/
	 		color: rgb(122,122,122);
	 		margin-left: 100px;
	 	}
	 select {
	 	margin-bottom: 10px;
		height: 30px;
		width: 73%;
	}

	textarea {
		height: 90px;
		margin-top: 10px;
	}

	#btn {
	padding: 10px;
	width: 30%;
	border: 1px solid white;
	border-radius: 5px;
	background: #33bdb8;
	color: white;
	font-weight: bold;
	margin-left: 100px;
}

	#btn:hover {
		cursor: pointer;
	}