
*{
	margin: 0;
	padding: 0;
}
/*Bello is the style of our main container that covers our whole website*/
.container{
	margin: 0 auto;
	width: 960px;
}
/*Bello is the style for our group class that contains our navbar in it*/
.group {
	width: 100%;
	color: white;
	background: #194673;
}
/*Bello is the style for our logo*/
.logo {
	border-top: 6px solid orange;
	float: left;
	font-size: 48px;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 44px;
	padding: 50px 0 0 0;
	text-transform: uppercase;
	width: 320px;
}
	.logo2 {
		float: left;
		font-size: 48px;
		font-weight: 100;
		line-height: 44px;
		letter-spacing: .5px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
		.logo, .logo2 {
			font-family: 'Roboto Mono', monospace;
		}
	/*Bello is the style for the date found on our nav bar*/
.tagline {
	margin: 66px 0 22px 0;
	text-align:right;
	float: right;
	font-size: 15px;
	color: orange;
}
/*Bello is the style for our navigation bar*/
.nav {
	float: right;
	margin-top: 10px;
}
	.nav ul {
		float: right;
	}
	.nav ul li{
		list-style: none;
		float: left;
		margin-left: 10px;
	}

	.primary-nav{
		font-size: 14px;
		font-weight: 400;
		letter-spacing: .5px;
		text-transform: uppercase;
	}

/*Bellow is the class that fixes our floats*/
.clear-fix{
	clear: both;
}
/*Bello is the style for our hero which is the section under the header*/
.hero {
	text-align: center;
	padding: 22px 80px 40px 80px;
	background: linear-gradient(to right,#68948f 40%,#f5f1d7);
}

.hero h3 {
	font-size: 24px;
	font-weight: 100;
	color: white;
}

.hero p {
	color: white;
	margin-top: 30px;
	margin-bottom: 20px;
}

	.btn {
		width: 100px;
		height: 100px;
		background-color: rgba(0,0,0,0);
		border: 2px solid #33bdb8;
		padding: 10px;
		transition: 2s;
	}
		.btn:hover{
			background-color: #33bdb8;
			border-radius: 10px;
			color: white;
		}

	.hero a{
		text-decoration: none;
		color: white;
	}

/*Bellow is the style for our grid container*/

.grid {
	width: 960px;
	padding: 44px 0 44px 20px;
	margin: 0 auto;
}
 /*Bellow is the style for the boxes*/
.box {
	height: 400px;
	width: 31.91%;
	border: 2px solid #ccc;
	float: left;
	margin-right: 1%;
	color: #aaa;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}
	.box h2 {
		color: #33bdb8;
	}
	.box p {
		margin-top: 10px;
		color: #aaa;
	}
	/*Bello is the style for the images inside our boxes*/
	img {
		border-radius: 10px;
		margin-top: 10px;
		/*width: 240px;*/
		width: 80.5%;
		height: 250px;
	}
	/*Bellow is the style for the footer section*/
#footer {
	width: 100%;
	height: 120px;
	background: linear-gradient(to right,#68948f 40%,#f5f1d7);
	/*margin-bottom: 0px;*/
	padding-top: 20px;
	/*position: absolute;*/
	margin-top: 80px;
	bottom: 0;
	color: white;
}

	#footer p {
		color: #ccc;
	}	
		.f_nav ul {
			list-style: none;
		}
			.f_nav ul li{
				float: left;
				margin-left: 10px;
			}
		.right {
			float: right;
		}

		.left {
			float: left;
		}
		/*Bellow is the style for the links*/
.active{
	color: #33bdb8;
}

a {
	color: white;
}

a:hover {
	color: #33bdb8;
}